<div class="social-links" data-permalink="{{ permalinkURL }}">

  {% if settings.social_facebook_link != blank %}
    <a target="_blank" href="{{ settings.social_facebook_link }}" title="{{ 'general.social.alt_text.view_on_facebook' | t }}"{% if disableTab %} tabindex="-1"{% endif %}>
      {% include 'icon-facebook' %}
      <span class="icon__fallback-text" aria-hidden="true">{{ 'general.social.link_facebook' | t }}</span>
      <span class="visually-hidden">{{ 'general.social.alt_text.view_on_facebook' | t }}</span>
    </a>
  {% endif %}

  {% if settings.social_twitter_link != blank %}
    <a target="_blank" href="{{ settings.social_twitter_link }}" title="{{ 'general.social.alt_text.view_on_twitter' | t }}"{% if disableTab %} tabindex="-1"{% endif %}>
      {% include 'icon-twitter' %}
      <span class="icon__fallback-text" aria-hidden="true">{{ 'general.social.link_twitter' | t }}</span>
      <span class="visually-hidden">{{ 'general.social.alt_text.view_on_twitter' | t }}</span>
    </a>
  {% endif %}

  {% if settings.social_pinterest_link != blank %}
    <a target="_blank" href="{{ settings.social_pinterest_link }}" title="{{ 'general.social.alt_text.view_on_pinterest' | t }}"{% if disableTab %} tabindex="-1"{% endif %}>
      {% include 'icon-pinterest' %}
      <span class="icon__fallback-text" aria-hidden="true">{{ 'general.social.link_pinterest' | t }}</span>
      <span class="visually-hidden">{{ 'general.social.alt_text.view_on_pinterest' | t }}</span>
    </a>
  {% endif %}

  {% if settings.social_snapchat_link != blank %}
    <a target="_blank" href="{{ settings.social_snapchat_link }}" title="{{ 'general.social.alt_text.view_on_snapchat' | t }}"{% if disableTab %} tabindex="-1"{% endif %}>
      {% include 'icon-snapchat' %}
      <span class="icon__fallback-text" aria-hidden="true">{{ 'general.social.link_snapchat' | t }}</span>
      <span class="visually-hidden">{{ 'general.social.alt_text.view_on_snapchat' | t }}</span>
    </a>
  {% endif %}

  {% if settings.social_instagram_link != blank %}
    <a target="_blank" href="{{ settings.social_instagram_link }}" title="{{ 'general.social.alt_text.view_on_instagram' | t }}"{% if disableTab %} tabindex="-1"{% endif %}>
      {% include 'icon-instagram' %}
      <span class="icon__fallback-text" aria-hidden="true">{{ 'general.social.link_instagram' | t }}</span>
      <span class="visually-hidden">{{ 'general.social.alt_text.view_on_instagram' | t }}</span>
    </a>
  {% endif %}

  {% if settings.social_tumblr_link != blank %}
    <a target="_blank" href="{{ settings.social_tumblr_link }}" title="{{ 'general.social.alt_text.view_on_tumblr' | t }}"{% if disableTab %} tabindex="-1"{% endif %}>
      {% include 'icon-tumblr' %}
      <span class="icon__fallback-text" aria-hidden="true">{{ 'general.social.link_tumblr' | t }}</span>
      <span class="visually-hidden">{{ 'general.social.alt_text.view_on_tumblr' | t }}</span>
    </a>
  {% endif %}

  {% if settings.social_youtube_link != blank %}
    <a target="_blank" href="{{ settings.social_youtube_link }}" title="{{ 'general.social.alt_text.view_on_youtube' | t }}"{% if disableTab %} tabindex="-1"{% endif %}>
      {% include 'icon-youtube' %}
      <span class="icon__fallback-text" aria-hidden="true">{{ 'general.social.link_youtube' | t }}</span>
      <span class="visually-hidden">{{ 'general.social.alt_text.view_on_youtube' | t }}</span>
    </a>
  {% endif %}

  {% if settings.social_vimeo_link != blank %}
    <a target="_blank" href="{{ settings.social_vimeo_link }}" title="{{ 'general.social.alt_text.view_on_vimeo' | t }}"{% if disableTab %} tabindex="-1"{% endif %}>
      {% include 'icon-vimeo' %}
      <span class="icon__fallback-text" aria-hidden="true">{{ 'general.social.link_vimeo' | t }}</span>
      <span class="visually-hidden">{{ 'general.social.alt_text.view_on_vimeo' | t }}</span>
    </a>
  {% endif %}

</div>
